body {
    background: #333;
    color: #fff;
    font-family: sans-serif;
}

.wrapper {
    background: #000;
    border: 4px solid #ddd;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.5);
    height: 448px;
    left: 50%;
    margin: -224px 0 0 -256px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 512px;
}

#infobar {
    background: #000;
    height: 48px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 512px;
}

#scoreboard {
    float: left;
    font-size: 9px;
    padding: 7px;
}

#scoreboard div {
    border-right: 1px solid #fff;
    float: left;
    margin-right: 6px;
    overflow: hidden;
    width: 42px;
}

#scoreboard p {
    margin: 0;
}

#scoreboard .dead p {
    opacity: 0.3;
}

#scoreboard .name {
    font-weight: bold;
}

#scoreboard .blue .name {
    color: #0cf;
}

#scoreboard .red .name {
    color: #f00;
}

#scoreboard .yellow .name {
    color: #ff0;
}

#scoreboard .green .name {
    color: #090;
}

#scoreboard .orange .name {
    color: #f80;
}

#scoreboard .pink .name {
    color: #f0f;
}

#scoreboard .purple .name {
    color: #60f;
}

#scoreboard .darkblue .name {
    color: #06a;
}

#timer {
    float: right;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    margin-right: 16px;
    text-align: right;
}

#timer.warning {
    color: #f00;
}

#level {
    bottom: -16px;
    left: -16px;
    position: absolute;
}

.tile {
    background: #b3ff70;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.5) inset, 2px 2px 5px rgba(255,255,255,0.5) inset;
    float: left;
    height: 32px;
    width: 32px;
}

.tile.empty {
    box-shadow: none;
}

.tile.breakable {
    background: #78af51;
}

.tile.fixed {
    background: #476b35;
}

.player {
    box-shadow: -2px -2px 5px rgba(0,0,0,0.5) inset, 2px 2px 5px rgba(255,255,255,0.5) inset;
    height: 64px;
    position: absolute;
    width: 32px;
}

#blue {
    background: #0cf;
}

#red {
    background: #f00;
}

#yellow {
    background: #ff0;
}

#green {
    background: #090;
}

#orange {
    background: #f80;
}

#pink {
    background: #f0f;
}

#purple {
    background: #60f;
}

#darkblue {
    background: #06a;
}

.bomb {
    border-radius: 16px;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.5) inset, 2px 2px 5px rgba(255,255,255,0.5) inset;
    height: 32px;
    position: absolute;
    width: 32px;
}

.bomb.blue {
    background: #0cf;
}

.bomb.red {
    background: #f00;
}

.bomb.yellow {
    background: #ff0;
}

.bomb.green {
    background: #090;
}

.bomb.orange {
    background: #f80;
}

.bomb.pink {
    background: #f0f;
}

.bomb.purple {
    background: #60f;
}

.bomb.darkblue {
    background: #06a;
}

.detonation {
    box-shadow: -2px -2px 5px rgba(0,0,0,0.5) inset, 2px 2px 5px rgba(255,255,255,0.5) inset;
    height: 32px;
    opacity: 0.5;
    position: absolute;
    width: 32px;
}

.detonation.blue {
    background: #0cf;
}

.detonation.red {
    background: #f00;
}

.detonation.yellow {
    background: #ff0;
}

.detonation.green {
    background: #090;
}

.detonation.orange {
    background: #f80;
}

.detonation.pink {
    background: #f0f;
}

.detonation.purple {
    background: #60f;
}

.detonation.darkblue {
    background: #06a;
}

.item {
    background: #ddd;
    border-radius: 8px;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.5) inset, 2px 2px 5px rgba(255,255,255,0.5) inset;
    color: #888;
    font-size: 24px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    width: 32px;
}
