.player {
    height: 64px;
    position: absolute;
    width: 32px;
}

#blue {
    background: #09f;
    left: 128px;
    top: 128px;
}

#red {
    background: #f00;
    left: 800px;
    top: 640px;
}
