#level {
    border: 4px solid #ebebeb;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.8);
    height: 480px;
    position: relative;
    width: 640px;
}

.tile {
    background: #b3ff70;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.5) inset, 2px 2px 5px rgba(255,255,255,0.5) inset;
    float: left;
    height: 32px;
    width: 32px;
}

.tile.fixed {
    background: #72a850;
}

.player {
    box-shadow: -2px -2px 5px rgba(0,0,0,0.5) inset, 2px 2px 5px rgba(255,255,255,0.5) inset;
    height: 64px;
    position: absolute;
    width: 32px;
}

#blue {
    background: #09f;
}

#red {
    background: #f00;
}
